body{
    padding: 0;
    margin: 0;
    background-color: #15153D;
}
header{
    background-color: #15153D;
    display: flex;
    align-items: center;   
}
.logo{
     max-height:100px ;
    width: auto;
    }
.placeholder-div{
  width: 40%;
  padding-left: 100px;
}

#placeholder {   
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    border: 2px rgb(31, 31, 176);
    border-radius: 10px;
    box-sizing: border-box;
    background-color:#31317c;
    color: white;
}
.Login-div{
    display: flex;
    align-items: flex-end;
    gap: 15px;
    margin-left: auto;
}
#Login-button{
    margin-left: 100px;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 9px;
    background-color: #31317c;
    color: white;
    border-radius: 2px #31317c;
    border: none;
    font-size: 15px;
}
#Register-button{
    border-radius: 9px;
    padding: 15px 20px;
    cursor: pointer;
    margin-right: 50px;
    background-color: #FB4B3E;
    color: white;
    border: none;
    font-size: 15px;
}




